{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>This is a Python web app running on the Azure cloud.</p>
<p>We could host QI-related functions here and have easy access to computational resources via Azure.</p>
<br>
<div style="border:1px solid gold;width=420px">
	<p>Example usage</p>
	<p>Context: "The quick brown fox jumps over the lazy dog."</p>
	<p>Question: "What color is the fox?"</p>
	<p>Expected answer: "Brown"
</div>
<br><br>
<form action="" method="post">
	<p>Source text:</p>
	<textarea id="context" name="context" style="height:120px;width:1000px;">Enter text for the model to search over.</textarea>
	<p>Question:</p>
	<textarea id="question" name="question" style="height:60px;width:450px;">Pose a question to the model about the above text.</textarea>
	<br><br>
	<input type="submit" value="Submit">
</form>
<hr/>
{% endblock %}
