{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>This is a demo of speech recognition using Azure.</p>
<br><br>
<div style="border:1px solid gold;width:500px;display:block">
	<p>Example usage</p>
	<p>Source text: The quick brown fox jumps over the lazy dog.</p>
	<p>Question: What color is the fox?</p>
	<p>Expected answer: Brown
</div>
<br><br>
<form action="" method="post">
	<!--
	<p>Source text:</p>
	<textarea type="input" id="context" name="context" style="height:120px;width:1000px;">Enter text for the model to search over.</textarea>
	<p>Question:</p>
	<textarea type="input" id="question" name="question" style="height:60px;width:450px;">Pose a question to the model about the above text.</textarea>
	<br><br>
	-->
	<label for="context">Source text:</label><br>
	<textarea id="context" name="context" style="width:700px;height:200px"></textarea><br>
	<label for="question">Question:</label><br>
	<input type="text" id="question" name="question" size="50"><br><br>
	<input type="submit" value="Submit">
</form>
<br>
<hr/>
{% endblock %}
