{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>This is a Python web app running on the Azure cloud.</p>
<p>We could host QI-related functions here and have easy access to computational resources via Azure.</p>
<br>
<p>Example usage</p>
<p>Context: "The quick brown fox jumps over the lazy dog."</p>
<p>Question: "What color is the fox?"</p>
<p>Expected answer: "brown"
<p>Context:</p>
<textarea id="context" style="height:120px;width:300px;">
Enter text for the model to search over.
</textarea>
<p>Question:</p>
<textarea id="question" style="height:60px;width:250px;">
Pose a question to the model about the above text.
</textarea>
<br>
<button type="button" id="submit" onclick="console.log('FOOBAR')">Submit</button>
<p> ------------------------------------ </p>
<p id="answer">Answer: </p>
{% endblock %}
